<header>
  <section class="left"></section>
  <section class="center">
    <h1></h1>
    <h3></h3>
  </section>
  <section class="right"></section>
</header>
<main>
  <section class="left"></section>
  <section class="center">
    <section class="current">
      <div class="card">
        <h3 class="status"></h3>
        <p class="temp"></p>
        <p class="humidity"></p>
        <p class="windSpeed"></p>
        <p class="windDirection"></p>
        <p class=""></p>
      </div>
    </section>
    <section class="forecast"></section>
  </section>
  <section class="right"></section>
</main>
<footer></footer>
