$blue: #2196F3;
$white: #ffffff;

$desktop: 960px;
$space: 20px;
$space-small: 10px;

body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

a {
  color: #00B7FF;
}

h1, h2, h3, h4, h5 {
  font-weight: 400;
}

h1 {
  font-size: 20px;
  margin-top: 0;
}

h3 {
  font-size: 16px;
}

header {
  background-color: $blue;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, .5), 0px 5px 15px rgba(0, 0, 0, .2);
  color: $white;
}

header, footer, main {
  display: flex;
  padding: $space;
}

.left, .right {
  flex: 1 1 auto;
}

.center {
  width: $desktop;
}

.card {
  border-radius: 3px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, .5), 0px 4px 15px rgba(0, 0, 0, .2);
  box-sizing: border-box;
  padding: $space;
}

.current {
  color: #fff;
  width: 100%;

  .card {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 300px;
  }

  .clear {
    background: url("/images/clear_sky.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
  }

  .status {
    margin-top: 0;
  }

  .temp {
    font-size: 300%;
    margin: $space-small 0 $space-small 0;
  }
}
